
@{
    ViewBag.Title = "Index";
}

<h2>Admin Home</h2>

@Html.ActionLink("ADD PRODUCT"
    , "Create"
    , "Product"
    )

@Html.ActionLink("ADD CATEGORY"
    , "Create"
    , "Category"
    )

@Html.ActionLink("ADD SUBCATEGORY"
    , "Create"
    , "SubCategory"
    )